{% extends 'base.html' %}

{% block content %}
    <div class="row">
        {% for c in cart %}
            <div class="card text-decoration-none text-dark" style="width: 18rem;">
                <img src="{{ c.img_url }}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Item {{ c.id }}</h5>
                <p class="card-text">Name: {{ c.name }}</p>
                <p class="card-text">Price: ${{ c.price }}</p>
                <p class="card-text">Description: {{ c.description }}</p>
                <a href="{{ url_for('shop.removeFromCart', name = c.name)}}" class="btn btn-danger">Remove</a>
                </div>
            </div>
        {% endfor %}
        <div>
            <p>Items in Cart: {{ total }}</p>
            <p>Total: ${{ total_price }}</p>
            <a class="btn btn-danger" href="{{ url_for('shop.emptyCart') }}">Remove All</a>
        </div>
        
    </div>
{% endblock %}